@model IEnumerable<SmashTO.Models.PlayerModel>
@{
    ViewBag.Title = "View Players";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Here is a list of players
            </p>
        </div>
    </section>
}
<h3>@Html.ActionLink("Add a Player", "AddPlayer", "Player")</h3>
<table>
    <tr>
        <th style="width:10%">ID</th>
        <th style="width:30%">Name</th>
        <th style="width:10%">Rating</th>
    </tr>
    @if (Model != null && Model.Any()){
        foreach (var player in Model)
        {
            <tr>
                <td>@player.PlayerId</td>
                <td>@player.PlayerName</td>
                <td>@player.Rating</td>
            </tr>
        }
    }
</table>