@using SmashTO
@{
    ViewBag.Title = "Start a Bracket";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Select a bracket type to start a new bracket or <a href="@Url.Action("TournamentList", "Bracket")">view existing brackets</a>.
            </p>
        </div>
    </section>
}
<ol class="round">
    <li class="one" style="height:30px">
        @Html.ActionLink("Swiss Style Bracket", "PlayerSelect", "Bracket", new { format = TournamentFormat.Swiss }, null)
    </li>

    <li class="two" style="height:30px">
        @Html.ActionLink("Single Elimination Bracket", "PlayerSelect", "Bracket", new { format = TournamentFormat.SingleElimination }, null)
    </li>

    <li class="three" style="height:30px">
        Future Brackets
    </li>
</ol>
