@model SmashTO.Models.SwissRoundModel

<script type="text/javascript">
    $(document).ready(function () {
        $(".tag").css("cursor", "pointer");

        $(".tag").on("click", function() {
            var row = $(this).closest("tr");
            row.find("td").css("background-color", "#121212");
            $(this).css("background-color", "#ff0f0f");
            row.find(".winnerId").val($(this).find(".id").val());
        });
    });
</script>

@{
    ViewBag.Title = "Swiss Bracket Round " + Model.RoundNumber;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("SwissBracket", "Bracket", IsPost))
{
    @Html.HiddenFor(x => x.TournamentId)
    @Html.HiddenFor(x => x.RoundId)
    @Html.HiddenFor(x => x.RoundNumber)
    <table>
        <thead>
            <tr style="font-family: bold">
                <td style="width:5%">Wins</td>
                <td style="width:10%">Player 1</td>
                <td style="width:10%">Rating</td>
                <td style="width:5%"></td>
                <td style="width:5%">Wins</td>
                <td style="width:10%">Player 2</td>
                <td style="width:10%">Rating</td>
            </tr>
        </thead>
        @for (int i = 0; i < Model.Matches.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(x => x.Matches[i].Player1.Wins)
                    @Html.DisplayTextFor(x => x.Matches[i].Player1.Wins)
                </td>
                <td class="tag">
                    @Html.HiddenFor(x => x.Matches[i].Player1.Player.PlayerId, new {@class="id"})
                    @Html.HiddenFor(x => x.Matches[i].Player1.Player.PlayerName)
                    @Html.DisplayTextFor(x => x.Matches[i].Player1.Player.PlayerName)
                </td>
                <td>
                    @Html.HiddenFor(x => x.Matches[i].Player1.Player.Rating)
                    @Html.DisplayTextFor(x => x.Matches[i].Player1.Player.Rating)
                </td>
                <td>VS</td>
                <td>
                    @Html.HiddenFor(x => x.Matches[i].Player2.Wins)
                    @Html.DisplayTextFor(x => x.Matches[i].Player2.Wins)
                </td>
                <td class="tag">
                    @Html.HiddenFor(x => x.Matches[i].Player2.Player.PlayerId, new { @class = "id" })
                    @Html.HiddenFor(x => x.Matches[i].Player2.Player.PlayerName)
                    @Html.DisplayTextFor(x => x.Matches[i].Player2.Player.PlayerName)
                </td>
                <td>
                    @Html.HiddenFor(x => x.Matches[i].Player2.Player.Rating)
                    @Html.DisplayTextFor(x => x.Matches[i].Player2.Player.Rating)
                </td>
                @Html.HiddenFor(x => x.Matches[i].WinnerId, new { @class = "winnerId" })
            </tr>
        }
    </table>
    <p>
        <input type="submit" value="Next Round" />
    </p>
}